/* TODO es soll auf den Screen beschränken und man soll nicht scrollen müssen! weiß noch nicht, wo das Problem ist
/*XXX */


html::-webkit-scrollbar {
  display: none;
}

body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  height: 100vh;
}



/* ============================ Dashboard =================================== */
#dashboard-body{
    background:#E6E7EE;
    height:100vh; /* max-height:100vh*/
    position:absolute;
  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
      
    }
    
    /* div */
    #dashboard-div-col{
      margin:auto;
    }
    
    /* ============================ /Dashboard ================================== */
    
    
    /* =========================== profile - card ================================*/
    #profile-card-div{
      margin-top:50px;
      margin-bottom:50px;
      padding:5px;
      border-radius:10px;
      box-shadow:  3px 3px 7px #c4c4ca,
                   -3px -3px 7px #ffffff;
      font-size: 10vw;
      font-family:'TeX Gyre Heros', sans-serif; /* Bold */
      
      min-width: 460px;
      max-width: 40vw;
      /* noch zu hoch und gezerrt! */ 
       position:relative;
        margin: 0 auto;
      margin-top: 10vh;
      margin-bottom: 10vh;
  

  
  
    }
    .profile-card-img{
      /*text-align: center; */

                              display: flex;
                              justify-content: center;
                              align-items: center;
                              min-height: 50vh;
                              background: #ccff00;
                              border-radius: 5%;

    }
    
    #profile-img{
      width:200px;
      height:200px;
      padding:10px;
      border-radius:100px;
      background:transparent;
      box-shadow: inset 5px 5px 10px #c4c4ca,
                  inset -5px -5px 10px #c4c4ca;
      margin-top:5px;
    }
    #profile-img:hover{
      box-shadow: inset 5px 5px 10px #f2f1f1,
                  inset -5px -5px 10px #f2f1f1;
    }
    #profile-info{
      margin:10px;
      padding-top:15px;
      border-radius:10px;
      box-shadow: inset 3px 3px 7px #c4c4ca,
                  inset -3px -3px 7px #ffffff;
    }
    #profile-info-div{
    }
    #profile-p{
      padding:10px; 
      /* color:#4A312C; */
      font-size:20px;
      font-weight:500;
      width: auto;    
      
    }
    #profile-p:hover{
      border-radius:10px;
      box-shadow:  3px 3px 7px #c4c4ca,
                   -3px -3px 7px #ffffff;
    }
    #profile-span{
      color:#3f4868;
      display: inline-block; 
      width: 38%;
    }

    #profile-span2{
      color:#4A312C;
      display: inline-block;
      width: 62%;
    }

    #profile-info-div-social{
      text-align: center;
    }
    #social-btn{
      margin:20px;
      width:auto;
      background: linear-gradient(145deg, #f6f7ff, #cfd0d6);
      border:none;
      border-radius: 50px;
      box-shadow:  5px 5px 7px #c4c4ca,
                   -5px -5px 7px #ffffff;
    }
    #social-btn:hover{
      box-shadow:  2px 2px 5px #c4c4ca,
                   -2px -2px 5px #ffffff;
    }
    #social-btn:focus{
      outline:none;
      box-shadow: inset 5px 5px 7px #c4c4ca,
                  inset -5px -5px 7px #ffffff;
    }
    #social-svg{
      width:50px;
      height:50px;
      padding:10px;
    }

a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: #ffffff00;
}

button:active + .hide{
  display: block;
  font-size: 1vw;
  text-decoration: none;
  color:#3f4868;
  
}


.hide{
  display: none;
}







.loader
{
    position: relative;
    width: 200px; /*200px*/
    height: 200px;
    border: 4px solid #ccff00;
    overflow: hidden;
    border-radius: 50%; 
box-shadow:  5px 5px 10px #ccff00, 
             -5px -5px 10px #ccff00,
                inset -5px -5px 5px #ffff00,
                inset 10px 10px 10px #97bd00;
}           
.loader:before
{
    content: '';
    position: absolute;
    top: 30px; /*30px*/
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 10;
    background: #d9ff00;
    border-radius: 50%; 
    border:2px solid #ffff00;
    box-shadow:  5px 5px 10px #cbda05, 
             -5px -5px 10px #ffff00;
}           
.loader span
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ccff00;
    filter: blur(20px);
    z-index: -1;
    
}


main{
  height: 100%;
}