/* TODO es soll auf den Screen beschränken und man soll nicht scrollen müssen! weiß noch nicht, wo das Problem ist
/*XXX

/* ============================ Dashboard =================================== */
#dashboard-body{
    background:#E6E7EE;
    max-height:100vh;
    position:absolute;
  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
      
    }
    
    /* div */
    #dashboard-div-col{
      margin:auto;
    }
    
    /* ============================ /Dashboard ================================== */
    
    
    /* =========================== profile - card ================================*/
    #profile-card-div{
      margin-top:50px;
      margin-bottom:50px;
      padding:5px;
      border-radius:10px;
      box-shadow:  3px 3px 7px #c4c4ca,
                   -3px -3px 7px #ffffff;
      font-size: 10vw;
      font-family:'TeX Gyre Heros', sans-serif; /* Bold */
      
      min-width: 460px;
      max-width: 40vw;
      /* noch zu hoch und gezerrt! */ 
       position:relative;
        margin: 0 auto;
      margin-top: 10vh;
      margin-bottom: 10vh;
  
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
  
  
    }
    .profile-card-img{
      text-align: center;
    }
    #profile-img{
      width:200px;
      height:200px;
      padding:10px;
      border-radius:100px;
      background:transparent;
      box-shadow: inset 5px 5px 10px #c4c4ca,
                  inset -5px -5px 10px #c4c4ca;
      margin-top:5px;
    }
    #profile-img:hover{
      box-shadow: inset 5px 5px 10px #f2f1f1,
                  inset -5px -5px 10px #f2f1f1;
    }
    #profile-info{
      margin:10px;
      padding-top:15px;
      border-radius:10px;
      box-shadow: inset 3px 3px 7px #c4c4ca,
                  inset -3px -3px 7px #ffffff;
    }
    #profile-info-div{
    }
    #profile-p{
      padding:10px; 
      /* color:#4A312C; */
      font-size:20px;
      font-weight:500;
      width: auto;    
      
    }
    #profile-p:hover{
      border-radius:10px;
      box-shadow:  3px 3px 7px #c4c4ca,
                   -3px -3px 7px #ffffff;
    }
    #profile-span{
      color:#3f4868;
      display: inline-block; 
      width: 38%;
    }

    #profile-span2{
      color:#4A312C;
      display: inline-block;
      width: 62%;
    }

    #profile-info-div-social{
      text-align: center;
    }
    #social-btn{
      margin:20px;
      width:auto;
      background: linear-gradient(145deg, #f6f7ff, #cfd0d6);
      border:none;
      border-radius: 50px;
      box-shadow:  5px 5px 7px #c4c4ca,
                   -5px -5px 7px #ffffff;
    }
    #social-btn:hover{
      box-shadow:  2px 2px 5px #c4c4ca,
                   -2px -2px 5px #ffffff;
    }
    #social-btn:focus{
      outline:none;
      box-shadow: inset 5px 5px 7px #c4c4ca,
                  inset -5px -5px 7px #ffffff;
    }
    #social-svg{
      width:50px;
      height:50px;
      padding:10px;
    }

a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: #ffffff00;
}

button:active + .hide{
  display: block;
  font-size: 1vw;
  text-decoration: none;
  color:#3f4868;
  
}


.hide{
  display: none;
}