 *{
    /* height: 100%; */
    overflow:hidden;
    

}  
::-webkit-scrollbar {
    display: none;
}

a, a:hover, a:link, a:active{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    cursor: text; 
}


body {
    background: #05081a;
     background:
     radial-gradient(black 15%, transparent 16%) 0 0,
     radial-gradient(black 15%, transparent 16%) 8px 8px,
     radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
     radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
     background-color: #000019 ; /*#282828;*/
    background-size:16px 16px;

/* 
    display: grid;
    position: absolute; */

    /* background: #000019; */
    color: #034903be; 
    line-height: 1.2;
    padding-top: 3vh;

    font-size: 3vw;
    font-family:"TeX Gyre Heros", sans-serif;


  }
  
  h2 {
    text-align: left;/* fallback for old browsers */       
    background: hsla(51, 86%, 72%, 1);
    background: linear-gradient(76deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 86%);
    background: -moz-linear-gradient(76deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 86%);
    background: -webkit-linear-gradient(76deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 86%);
    color: hsla(113, 89%, 21%, 1) ;
    /* color:  hsla(179, 77%, 58%, 1);                         ;*/
  /* gradient end ---> */
  
  /* <!--- mask and font */  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    font-size: 6vw;
    font-family: "Raleway";

    padding-top: 0;
    margin-top:0;

    text-decoration: underline;

  }

h3{
    text-align: right;
    background: hsla(51, 86%, 72%, 1);
    background: linear-gradient(76deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 86%);
    background: -moz-linear-gradient(76deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 86%);
    background: -webkit-linear-gradient(76deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 86%);
    color: hsla(113, 89%, 21%, 1) ;
  /* gradient end ---> */
  
  /* <!--- mask and font */  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    font-size: 6vw;
    font-family:"Raleway", sans-serif; /* Bold */

    padding-bottom: 0;
    margin-bottom: 0;

    text-decoration: underline;
    text-decoration-thickness: 35vw 2vh;

  }
  
  p {
    font-family: 'TeX Gyre Heros';
    font-size: 3vw;
 
    margin: 0;
    padding-top: 5px;
    padding-bottom: 14px;
    padding-left: 2vw;
  }
  
  .blurred span {
     -webkit-filter: blur(15px);
            filter: blur(15px); 

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
   
  }
  
  .invisible-ink span {

 background:    
 radial-gradient(black 15%, transparent 16%) 0 0,
 radial-gradient(black 15%, transparent 16%) 8px 8px,
 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
 background-color: #000019 ; /*#282828;*/
background-size:16px 16px;
    color: #ffffff00; 

   margin-left: 20px;
   padding-left: 20px;

   font-size: 2vw;
   margin-top: 0;
   padding-top: 0;
   padding-bottom: 0;
   margin-bottom: 0;

  }
  

/* ============================================================*/
/* ======= change color for selected text and background ===== */

  ::-moz-selection { /* Code for Firefox */
    color: #047204be ;
    background: #ffffff00;
  }
  
  ::selection {
    color: #047204be;
    background: #ffffff00;
  }

.container-fluid{
    height: 100vh;
    position: sticky;
  }



/* ============================================================*/
/* ================== HOVER ANIMATION FOR H2/H3 ===============*/


/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-top {
  display: block;
  justify-content: right;
  text-align: right;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
