* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	display: grid;
	height: 100vh;
	overflow:hidden;
	overflow:-moz-hidden-unscrollable;
}

/* body{
	height: 100%;
	background: 
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: #000019 ;/*#282828;*/
	/*background-size:16px 16px; 
	font-size: 4vw;
    font-family:'TeX Gyre Heros', sans-serif;
	
} */

#mask {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: calc(25% - 50px);
	left: calc(25% - 50px);
	border-color: #00ffff;
	border-style:  solid;
	border-radius: 50%;
	border-width: 0.3vh;

}

#unblurred {
	 position: absolute;
	top: 0;
	left: 0;
	z-index: 8; 
	width: 100%;
	height: 100%;  
	 overflow: hidden; 
	 filter: blur(0px);
	-webkit-filter: blur(0px); 
    /* background: 
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px; 
	 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; 
	background-color: #000019 ;/*#282828;*/
	 /*background-size:16px 16px;  */
	 background-image: url(hierIstSam.jpg);
	 background-attachment: fixed !Important;
	 background-repeat: no-repeat; 
	background-size:100%;
	width: 100px !Important;
	height: 100px !Important;
	border-radius: 50%;
	position: relative;
	cursor: move;
}

 #blurred {
	width: 100%;
	position: absolute;

	  filter: blur(20px);
	-webkit-filter: blur(20px);  

} 
 
/* #blurred:hover{
	
	position: flex;
	z-index: 5;
	filter: blur(1px);
	-webkit-filter: blur(1px);  
	text-decoration: none;
	padding: none;
	text-align: center;
	justify-content: center;
	
}  */

/* .text1{
	position: relative;
	display: fixed;

	font-size: 2vw;
    font-family:'TeX Gyre Heros', sans-serif;

	color: #00ffff;
	text-align: center;
	margin-top: 25vh;
}

.text2{
	position: relative;
	display: fixed;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	padding: 10px;

	font-size: 4vw;
    font-family:'TeX Gyre Heros', sans-serif;
	color: #00ffff;
	text-align: center;
}

.svgpic{
font-family:"TeX Gyre Heros";
  background: 
  radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; 
	background-color: #000019 ;/*#282828;*/
	/*background-size:16px 16px; 
} */

/* svg{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: 0 0 0 0;
}  */