/* ==========================================================
 * ====================== KNOCKOUT TEXT GRADIENT ============
*/
.knockout {
  
    /* <!--- gradient */
    background: hsla(51, 86%, 72%, 1);

    background: linear-gradient(69deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 76%);
    
    background: -moz-linear-gradient(69deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 76%);
    
    background: -webkit-linear-gradient(69deg, hsla(51, 86%, 72%, 1) 0%, hsla(113, 89%, 21%, 1) 76%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f5e278", endColorstr="#116406", GradientType=1 );
    /* gradient end ---> */
    
    /* <!--- mask and font */  
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-weight: bold;
      font-size: 7vw;
      font-family:'TeX Gyre Heros', sans-serif; /* Bold */
    
    
    /* end mask and font ---> */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    }
  /* ============================================= */
    
    /* ===================================================================
     * ==================== RAINBOW LOADER ANIMATION =====================
    */
    .loader {
      background: #05081a;
      /* background:
       radial-gradient(black 15%, transparent 16%) 0 0,
       radial-gradient(black 15%, transparent 16%) 8px 8px,
       radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
       radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
       background-color: #000019 ; /*#282828;*/
      background-size:16px 16px;
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 99;
      pointer-events:  none;
    
      /*DATE 06.10.20 */
      -webkit-animation: loader-blur-out 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
              animation: loader-blur-out 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
    
    }
    
    .loader-inner {
      bottom: 0;
      height: 60px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
    }
    
    .loader-line-wrap {
      animation: 
      spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite/* FIXME EINKOMMENTIEREN infinite */
    ;
      box-sizing: border-box;
      height: 50px;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transform-origin: 50% 100%;
      width: 100px;
    }
    .loader-line {
      border: 4px solid transparent;
      border-radius: 100%;
      box-sizing: border-box;
      height: 100px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
    }
    .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
    .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
    .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
    .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
    .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
    
    .loader-line-wrap:nth-child(1) .loader-line {
      border-color: #18AC05;
      height: 90px;
      width: 90px;
      top: 7px;
    }
    .loader-line-wrap:nth-child(2) .loader-line {
      border-color: #4FBA22;
      height: 76px;
      width: 76px;
      top: 14px;
    }
    .loader-line-wrap:nth-child(3) .loader-line {
      border-color: #87C73F;
      height: 62px;
      width: 62px;
      top: 21px;
    }
    .loader-line-wrap:nth-child(4) .loader-line {
      border-color: #BED55B;
      height: 48px;
      width: 48px;
      top: 28px;
    }
    .loader-line-wrap:nth-child(5) .loader-line {
      border-color: #F5E278;
      height: 34px;
      width: 34px;
      top: 35px;
    }
    /* =========================================================== */
    
    /* =====================================================================
     * ================= KEYFRAME SECTION FOR LOADER ======================= */
    
    @keyframes spin {
      0%, 15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
    }
    
    /* 06.10.20 */
    /* ----------------------------------------------
     * Generated by Animista on 2020-10-6 14:40:25
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
    
    /**
     * ----------------------------------------
     * animation loader-blur-out
     * ----------------------------------------
     */
    
    @-webkit-keyframes loader-blur-out {
      0% {
        -webkit-filter: blur(0.01);
                filter: blur(0.01);
      }
      100% {
        -webkit-filter: blur(12px) opacity(0%);
                filter: blur(12px) opacity(0%);
      }
    }
    @keyframes loader-blur-out {
      0% {
        -webkit-filter: blur(0.01);
                filter: blur(0.01);
      }
      100% {
        -webkit-filter: blur(12px) opacity(0%);
                filter: blur(12px) opacity(0%);
      }
    }
    /* ==============================================================
    /* =========================== END SECTION ======================
    06.10.20 */
    
    
    
  /* ================================================================ 
   * ========================= BODY =================================
  */
body{
      background: 
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #000019 ;/*#282828;*/
    background-size:16px 16px; 
    display: inline;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

   

    /* Done */
}
    
    section{
      height: 90vh;
      position: relative;
    
    }
    .container{
      max-width: 1900px;
      width: 100%;
      max-height: 1820px;
      height: 100%;
    
      display: flex;
    
      margin: auto;
      align-items: center;
      justify-content: center;  
    }
  /* ==================================================
  
    
    
    /* ================= HYPERLINK STYLING ================
     */
    a, a:hover, a:focus, a:active {
      text-decoration: none;
     
    }
    /*=====================================================
    
   
    /* ===================================================
     * ===================== HOVER EFFECT ================
    */
    /*effect-underline*/
    a.effect-underline:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      padding-top: 3%;
      border-bottom: 1.3vw solid;
      border-bottom-color: #45cf29c9;
      margin-top: 10px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
    }
    
    a.effect-underline:hover:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }