body, html {
    margin: 0;
    padding: 0;
    font-family: "TeX Gyre Heros", sans-serif;
    font-weight: 400;

}

body {
    height: 100%;
    width: 100%;
    user-select: none;
    overflow-y: hidden;
    touch-action: none;
    overscroll-behavior-y: contain;

                                background: 
                                radial-gradient(black 15%, transparent 16%) 0 0,
                                radial-gradient(black 15%, transparent 16%) 8px 8px,
                                radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
                                radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
                                background-color: #000019 ;/*#282828;*/
                                background-size:16px 16px; 
                                display: inline;
             

}


h1 {
    font-size: calc(2em + 1vw);
    margin: 0; padding: 0;
    text-align: center;
    color: rgb(46, 253, 253);
}

p {
    font-weight: 100;
    font-size: calc(1em + 0.5vw);
    text-align: center;
    color: rgb(30, 144, 238);
}

#wholepage {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

section, .section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(0, 0);
    transition: transform 0.4s ease-out;
    margin: 0; padding: 0;
  
}


.page {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
    transition: transform 0.4s ease-out;
}

.sectionButtonContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 3vw; 
    color: rgb(30, 30, 30);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}

.sectionButtonContainer label, .page_selection label {
    display: inline-flex;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.8);
    transition: transform 0.2s;
    margin: 12px 12px;
    padding: 0px;
    box-shadow: 0px 0px 8px rgba(0, 27, 160, 0.8);
    cursor: pointer;
}

.sectionButtonContainer label::after, .page_selection label::after {
    content: '';
    display: inline-flex;
    position: relative;
    top: -10px;
    left: -10px;
    padding: 12px;
}

.sectionButtonContainer input[type=radio]:checked + label::after, .page_selection input[type=radio]:checked + label::after {
   display: none;
}


.sectionButtonContainer input[type=radio]:checked + label, .page_selection input[type=radio]:checked + label  {
    transform: scale(2.2);
    transition: transform 0.2s;
}



.page_selection {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2vh;
    left: 40%; 
    color: rgb(30, 30, 30);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    z-index: 999999; 

}