body {
    background: 
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: #000019 ;/*#282828;*/
	background-size:16px 16px; 
	color: #00ffff;
	font-size: 4vw;
    font-family:'TeX Gyre Heros', sans-serif;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	max-width: 90vw;
	margin: 0 auto;
	min-height: 100vh;
	-webkit-perspective: 200px;
	perspective: 100px;
	-webkit-animation: perspective 4s cubic-bezier(0.45, 0.06, 0.72, 0.2) infinite;
	animation: perspective 4s cubic-bezier(0.45, 0.06, 0.72, 0.2) infinite;

	overflow: hidden;

	/* Disable text-selection */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
@-webkit-keyframes perspective {
	0% {
		-webkit-perspective: 100px;
		perspective: 100px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-perspective: 10000px;
		perspective: 10000px;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

}
@keyframes perspective {
	0% {
		-webkit-perspective: 100px;
		perspective: 100px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-perspective: 10000px;
		perspective: 10000px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

}
p {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

span {
	display: inline-block;
}
span:nth-child(1) {
	-webkit-transform: translateZ(-532.2536463307px);
	transform: translateZ(-532.2536463307px);
}
span:nth-child(2) {
	-webkit-transform: translateZ(-606.5889273015px);
	transform: translateZ(-606.5889273015px);
}
span:nth-child(3) {
	-webkit-transform: translateZ(-745.4091121343px);
	transform: translateZ(-745.4091121343px);
}
span:nth-child(4) {
	-webkit-transform: translateZ(-292.3852066708px);
	transform: translateZ(-292.3852066708px);
}
span:nth-child(5) {
	-webkit-transform: translateZ(-517.644363649px);
	transform: translateZ(-517.644363649px);
}
span:nth-child(6) {
	-webkit-transform: translateZ(-85.0422801317px);
	transform: translateZ(-85.0422801317px);
}
span:nth-child(7) {
	-webkit-transform: translateZ(-591.0534150772px);
	transform: translateZ(-591.0534150772px);
}
span:nth-child(8) {
	-webkit-transform: translateZ(-606.7353032934px);
	transform: translateZ(-606.7353032934px);
}
span:nth-child(9) {
	-webkit-transform: translateZ(-631.8937245157px);
	transform: translateZ(-631.8937245157px);
}
span:nth-child(10) {
	-webkit-transform: translateZ(-662.2854061503px);
	transform: translateZ(-662.2854061503px);
}
span:nth-child(11) {
	-webkit-transform: translateZ(-94.4717716627px);
	transform: translateZ(-94.4717716627px);
}
span:nth-child(12) {
	-webkit-transform: translateZ(-48.3766833703px);
	transform: translateZ(-48.3766833703px);
}
span:nth-child(13) {
	-webkit-transform: translateZ(-43.9425814486px);
	transform: translateZ(-43.9425814486px);
}
span:nth-child(14) {
	-webkit-transform: translateZ(-695.6601906181px);
	transform: translateZ(-695.6601906181px);
}
span:nth-child(15) {
	-webkit-transform: translateZ(-801.8192113316px);
	transform: translateZ(-801.8192113316px);
}
span:nth-child(16) {
	-webkit-transform: translateZ(-606.3125819337px);
	transform: translateZ(-606.3125819337px);
}
span:nth-child(17) {
	-webkit-transform: translateZ(-468.0269881453px);
	transform: translateZ(-468.0269881453px);
}
span:nth-child(18) {
	-webkit-transform: translateZ(-131.2172590733px);
	transform: translateZ(-131.2172590733px);
}
span:nth-child(19) {
	-webkit-transform: translateZ(-12.6116284767px);
	transform: translateZ(-12.6116284767px);
}
span:nth-child(20) {
	-webkit-transform: translateZ(-317.5593337236px);
	transform: translateZ(-317.5593337236px);
}
span:nth-child(21) {
	-webkit-transform: translateZ(-562.4230254236px);
	transform: translateZ(-562.4230254236px);
}
span:nth-child(22) {
	-webkit-transform: translateZ(-544.9308973872px);
	transform: translateZ(-544.9308973872px);
}
span:nth-child(23) {
	-webkit-transform: translateZ(-400.4421115149px);
	transform: translateZ(-400.4421115149px);
}
span:nth-child(24) {
	-webkit-transform: translateZ(-331.5438543123px);
	transform: translateZ(-331.5438543123px);
}
span:nth-child(25) {
	-webkit-transform: translateZ(-692.8932462166px);
	transform: translateZ(-692.8932462166px);
}
span:nth-child(26) {
	-webkit-transform: translateZ(-509.8702816859px);
	transform: translateZ(-509.8702816859px);
}
span:nth-child(27) {
	-webkit-transform: translateZ(-427.330519671px);
	transform: translateZ(-427.330519671px);
}
span:nth-child(28) {
	-webkit-transform: translateZ(-34.5397676165px);
	transform: translateZ(-34.5397676165px);
}
span:nth-child(29) {
	-webkit-transform: translateZ(-371.4378904109px);
	transform: translateZ(-371.4378904109px);
}
span:nth-child(30) {
	-webkit-transform: translateZ(-253.3084441451px);
	transform: translateZ(-253.3084441451px);
}
span:nth-child(31) {
	-webkit-transform: translateZ(-305.9259387344px);
	transform: translateZ(-305.9259387344px);
}
span:nth-child(32) {
	-webkit-transform: translateZ(-498.4652702573px);
	transform: translateZ(-498.4652702573px);
}
span:nth-child(33) {
	-webkit-transform: translateZ(-125.2963566582px);
	transform: translateZ(-125.2963566582px);
}
span:nth-child(34) {
	-webkit-transform: translateZ(-180.0902023484px);
	transform: translateZ(-180.0902023484px);
}
span:nth-child(35) {
	-webkit-transform: translateZ(-570.2250174094px);
	transform: translateZ(-570.2250174094px);
}
span:nth-child(36) {
	-webkit-transform: translateZ(-766.8590395944px);
	transform: translateZ(-766.8590395944px);
}
span:nth-child(37) {
	-webkit-transform: translateZ(-502.469554759px);
	transform: translateZ(-502.469554759px);
}
span:nth-child(38) {
	-webkit-transform: translateZ(-811.1388183188px);
	transform: translateZ(-811.1388183188px);
}
span:nth-child(39) {
	-webkit-transform: translateZ(-638.9988742701px);
	transform: translateZ(-638.9988742701px);
}
span:nth-child(40) {
	-webkit-transform: translateZ(-36.0174219413px);
	transform: translateZ(-36.0174219413px);
}
span:nth-child(41) {
	-webkit-transform: translateZ(-182.8007962711px);
	transform: translateZ(-182.8007962711px);
}
span:nth-child(42) {
	-webkit-transform: translateZ(-828.1024848426px);
	transform: translateZ(-828.1024848426px);
}
span:nth-child(43) {
	-webkit-transform: translateZ(-893.2479558283px);
	transform: translateZ(-893.2479558283px);
}
span:nth-child(44) {
	-webkit-transform: translateZ(-643.0130482023px);
	transform: translateZ(-643.0130482023px);
}
span:nth-child(45) {
	-webkit-transform: translateZ(-499.2296829384px);
	transform: translateZ(-499.2296829384px);
}
span:nth-child(46) {
	-webkit-transform: translateZ(-788.6123822278px);
	transform: translateZ(-788.6123822278px);
}
span:nth-child(47) {
	-webkit-transform: translateZ(-853.716141832px);
	transform: translateZ(-853.716141832px);
}
span:nth-child(48) {
	-webkit-transform: translateZ(-865.9217411077px);
	transform: translateZ(-865.9217411077px);
}
span:nth-child(49) {
	-webkit-transform: translateZ(-901.155009138px);
	transform: translateZ(-901.155009138px);
}
span:nth-child(50) {
	-webkit-transform: translateZ(-180.5853682855px);
	transform: translateZ(-180.5853682855px);
}
span:nth-child(51) {
	-webkit-transform: translateZ(-49.8371032988px);
	transform: translateZ(-49.8371032988px);
}
span:nth-child(52) {
	-webkit-transform: translateZ(-999.0477018875px);
	transform: translateZ(-999.0477018875px);
}
span:nth-child(53) {
	-webkit-transform: translateZ(-989.2018150096px);
	transform: translateZ(-989.2018150096px);
}
span:nth-child(54) {
	-webkit-transform: translateZ(-707.6822939388px);
	transform: translateZ(-707.6822939388px);
}
span:nth-child(55) {
	-webkit-transform: translateZ(-310.6776454754px);
	transform: translateZ(-310.6776454754px);
}
span:nth-child(56) {
	-webkit-transform: translateZ(-635.1049692979px);
	transform: translateZ(-635.1049692979px);
}
span:nth-child(57) {
	-webkit-transform: translateZ(-915.5091838003px);
	transform: translateZ(-915.5091838003px);
}
span:nth-child(58) {
	-webkit-transform: translateZ(-315.5492318699px);
	transform: translateZ(-315.5492318699px);
}
span:nth-child(59) {
	-webkit-transform: translateZ(-774.6001152392px);
	transform: translateZ(-774.6001152392px);
}
span:nth-child(60) {
	-webkit-transform: translateZ(-164.8978910311px);
	transform: translateZ(-164.8978910311px);
}
span:nth-child(61) {
	-webkit-transform: translateZ(-345.5519310734px);
	transform: translateZ(-345.5519310734px);
}
span:nth-child(62) {
	-webkit-transform: translateZ(-579.2858213695px);
	transform: translateZ(-579.2858213695px);
}
span:nth-child(63) {
	-webkit-transform: translateZ(-631.9998185307px);
	transform: translateZ(-631.9998185307px);
}
span:nth-child(64) {
	-webkit-transform: translateZ(-404.2467077015px);
	transform: translateZ(-404.2467077015px);
}
span:nth-child(65) {
	-webkit-transform: translateZ(-153.7561000895px);
	transform: translateZ(-153.7561000895px);
}
span:nth-child(66) {
	-webkit-transform: translateZ(-605.0146178858px);
	transform: translateZ(-605.0146178858px);
}
span:nth-child(67) {
	-webkit-transform: translateZ(-222.9723472634px);
	transform: translateZ(-222.9723472634px);
}
span:nth-child(68) {
	-webkit-transform: translateZ(-600.1407618396px);
	transform: translateZ(-600.1407618396px);
}
span:nth-child(69) {
	-webkit-transform: translateZ(-409.8209722522px);
	transform: translateZ(-409.8209722522px);
}
span:nth-child(70) {
	-webkit-transform: translateZ(-166.7689578119px);
	transform: translateZ(-166.7689578119px);
}
